/* Global Styles */
*{
    margin: 0;
    padding: 0;
}


/* Shared styles */

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-btn{
    background-color: #4E47FF;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: none;
}

.black1{
    color: #252432;
}

.black2{
    color: #252432;
    opacity: 50%;
}

.text-center{
    text-align: center;
}

/* Navbar styles */
header{
    height: 698px;
    width: 100%;
    background-image: url('/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    max-width: 1140px;
    height: 151px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
nav img{
    max-width: 220px;
    max-height: 180px;
    border-radius: 50%;
}

header h2{
    font-size: 65px;
    margin-bottom: 37px;
    font-weight: bold;
}
.headder-text-section{
    margin: 158px 267px 152px;
}

/* See It Live Styles */
main{
    padding: 0 151px 15px;
    background-color: #F5F8FF;
}
.see-action-section{
    display: flex;
    align-items: center;
    margin-bottom: 116px;
    padding-top: 116px;
    justify-content: space-between;
}

.see-action-section h2{
    font-size: 42px;
    font-weight: bold;
}

.see-action-content{
    max-width: 517px;
}

.see-action-section p{
    font-size: 24px;
    margin: 23px 0;
}

.see-action-section img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

/* Joined Section Styles */
.joined-users-section{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    border-radius: 24px;
}
.joined-section-header{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.active-users-section{
    display: flex;
    gap: 158px;
    align-items: center;
    justify-content: center;
}
.active-user h1{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}

.active-user p{
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* Comments Section Styles */
.user-comment-section{
    margin: 137px 0;

}

.user-comment-header{
    font-size: 42px;
    font-weight: bold;
}

.comments{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.comment{
    background-color: white;
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}
.user-rating{
    display: flex;
    gap: 4px;
}
.comment h3{
    font-size: 24px;
    font-weight: bold;
    margin : 24px 0 8px 0;
    color: #1E1E1E;
}
.comment p{
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom: 24px;
}
.user-rating img{
    width: 20px;
    height: 20px;
}

.comment-profile{
    display: flex;
    gap: 12px;
}

.comment-profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-name-date h5{
    font-size: 16px;
    color: #757575;
}

.user-name-date p{
    font-size: 16px;
    color: #B3B3B3;
}

/* Focus section styles */
.focus-section{
    background-color: white;
    border-radius: 14px;
    margin-bottom: 93px;
    padding: 71px 151px;
}

.focus-section h2{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.focus-section p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.focus-section img{
    border-radius: 48px;
    width: 840px;
    height: 365px;
    margin-top: 20px;
}

/* Get in touch section styles */

.get-touch-section{
    display: flex;
    gap: 115px;
    align-items: center;
}

.get-touch-section h1{
    font-size: 97px;
    font-weight: bold;
}

.get-touch-section input[type="email"],input[type="text"], textarea{
    display: block;
    width: 497px;
    height: 70px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    margin-bottom: 19px;
}

.get-touch-section textarea{
    height: 100px;
}

.get-touch-section label{
    font-size: 18px;
    margin-bottom: 10px;
}

.get-touch-section button{
    width: 100%;
}

footer{
    height: 428px;
}

.footer-div{
    margin: 103px 455px;
}

footer img{
    width: 290px;
    height: 170px;
}

footer p{
    text-align: center;
    font-size: 24px;
    color: rgba(137, 135, 161, 1);
}

.bottom-menus ul{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 20px;
}

.bottom-menus li{
    list-style: none;
}

.bottom-menus li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 20px;
}